.dsMode {
   background-color: rgba(0, 0, 0, 0.8);
   color: rgb(182, 10, 20);
   box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
   margin: 250px auto;
   width: 100%;
   text-align: center;
   text-transform: uppercase;
}

.dsMode p {
   font-size: 40px;
}